<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Server=YOUR_SERVER;Database=YOUR_DB;User Id=youruser;Password=yourpass;"
       providerName="System.Data.SqlClient" />
</connectionStrings>